<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MY APP</title>
        <style>
            h1 {
            text-align: center;
            margin-top: 10rem;
            }
        </style>
    </head>
    <body>
        <h1>Welcome <%= email%></h1>
    </body>
</html>